.articleTitle{
    font-size: 1.7rem;
    font-weight: bold;
}

.hero{
    width: 100%;
    aspect-ratio: 16/9;
}

.articleContent{
    font-size: 1.1rem;
    /* font-size: 1.2rem; */
    text-align: justify;
}

.otherArticles{
    margin-top: 5rem;
}